@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root{
    --bodyBackground: white;
    --primaryBlack: #141313;
    --gradient: linear-gradient(90deg,rgba(184,106,223,1) 0%, rgba(255,108,99,1) 52%, rgba(255,177,71,1) 100%); 
}


*{
    box-sizing: border-box;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

html{
    height: 100%;
}

body{
    height: 100%;
    background: var(--bodyBackground);
    padding: 0;
    margin: 0;
    font-family: "IBM Plex Sans", sans-serif;
    font-style: normal;
    color: var(--primaryBlack);
    
}

.wrapper{
    max-width: 1280px;
    margin: 0 auto;
}



.app_container{
    display: flex;
    flex-direction: row;
}



@media screen and (max-width: 980px) {
    .app_container{
        flex-direction: column;
    }
    
}