.home_container{
  margin-top: 85px;
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.left_section{
  position: relative;
  max-width: 500px;
}

.vector{
  position: absolute;
  top: -10px;
  left: -30px;
  z-index: -1;
}

.contacts_wrap{
  display: flex;
  flex-direction: row;
  gap: 48px;
  margin-top: 55px;
}

.left_text{
  margin-bottom: 40px;
}

.left_text p{
  font-size: 80px;
}

.left_text h3{
  font-size: 30px;
  font-style: italic;
}

.right_section img{
  margin-top: -70px;
  width: 500px;
  height: 650px;
}

