.left_section{
  position: relative;
}

.vector{
  position: absolute;
  top: -10px;
  left: -30px;
  z-index: -1;
}

.contacts_wrap{
  display: flex;
  flex-direction: row;
  gap: 48px;
}

.left_text p{
  font-size: 102px;
}